{{ define "title"}}pongish{{ end }}

{{ define "content" }}
<canvas id="board" height="1000" width="1300" tabindex="1">Your browser sucks!</canvas>
<div id="ws-endpoint" hidden>{{ .WsGameEndpoint }}</div>
{{ end }}

{{ define "scripts"}}
<script>
</script>
{{ end }}
